.subscribe-button{
    background-color:rgb(248, 6, 6);
    color:rgb(0, 0, 0);
    
    height: 36px;
    border-radius:40px;
    width:85px;
    cursor:pointer;
    margin-right:8px;
    transition:opacity 0.1s;
    margin-top:10px;
   
}
.subscribe-button:hover{
    opacity:0.7;
}
.subscribe-button:active{
    opacity:0.5;
}
.join-button{
    background-color:white;
    color:rgb(70, 70, 250);
    border-color:rgb(85, 85, 252);
    border-style:solid;
    height:36px;
    width:45px;
    cursor:pointer;
    border-width:1px;
    border-radius:2px;
    transition:background-color 0.15s, color 0.15s;
    margin-top:10px;
   
}
.join-button:hover{
    background-color: rgb(17, 17, 249);
    color:white;
}
.join-button:active{
    opacity: 0.7;
}
.tweet-button{
    background-color:rgb(51, 51, 247);
    color:white;
    border-color:rgb(30, 30, 252);
    border-style:solid;
    height:36px;
    width:60px;
    cursor:pointer;
    border-width:1px;
    border-radius:18px;
    border-radius:40px;
    margin-left:8px;
    font-weight:bold;
    font-size:14px;
    transition:box-shadow 0.15s, color 0.15s ,
    opacity 0.12s;
    margin-top:10px;
   
}
.tweet-button:hover{
    box-shadow:5px 5px 5px rgba(0,0,0,0.5);}
.tweet-button:active{
    opacity:0.8;
    color:black;

}
.Request-button{
    background-color:rgb(0, 0, 0);
    color:white;
    border-color:rgb(0, 0,0);
    border-style:solid;
    height:36px;
    width:100px;
    cursor:pointer;
    border-width:1px;
    font-size:11px;
    
    
    margin-left:8px;
    transition:border-radius 0.15s,
    border-radius 0.15s;
}
.Request-button:hover{
    background-color:rgb(0, 0, 0);
    color:white;
    border-radius:8px;
}
.request-button:active{
    opacity:0.8;
    color:white;
    border-radius:20px;

}
.add-button{
    background-color:rgb(247, 205, 69);
    color:rgb(11, 1, 1);
    border-color:rgb(247, 205,69);
    border-style:solid;
    height:36px;
    border-radius:15px;
    width:150px;
    cursor:pointer;
    border-width:1px;
    font-size:14px;
    transition: border-radius 0.12s;
    
}
.add-button:hover{
    opacity:0.8;
    
}
.add-button:active{
    
    
    border-radius:20px;
}
.sign-button{
    background-color:rgba(59, 161, 62, 0.732);
    color:white;
    border-color:rgb(125, 235, 117);
    border-style:solid;
    border-radius:8px;
    height:36px;
    width:80px;
    cursor:pointer;
    border-width:1px;
    font-size:15px;
}
.sign-button:hover{
    background-color:rgb(59, 161, 62);
    color:white;
    border-radius:10px;
}